*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    text-decoration: none;  
    font-family: 'Jura', sans-serif;
    font-family: 'Press Start 2P', cursive; 
}

body {
    background-color: rgba(70, 74, 121, 0.794);   
}

.unidade-a{
    margin:;
    padding: 150px;
}

